a{
    text-decoration: none;
    color: rgb(236, 239, 243);
    font-weight: 700;
    font-size: large;

 
}
h4{
   
    margin-top: 15px;
}

.box{
    width:300px;
    height: 300px;
    margin-top: 100px;
    background-color:brown;
    padding-top: 40px;
    padding-left: 50px;
    margin-left: 39%;
}

h3{
    
    color: white;
    margin-bottom: 40px;
    
}